asgiref==3.8.1
Brotli==1.1.0
build==1.0.3
CacheControl==0.14.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
class-registry==2.1.2
cleo==2.1.0
click==8.1.7
Counter==1.0.0
crashtest==0.4.1
cryptography==41.0.4
defusedxml==0.7.1
distlib==0.3.7
dj-database-url==2.1.0
Django==4.2.10
django-autoslug==1.9.9
django-cities-light==3.10.1
django-cors-headers==4.3.1
django-elasticsearch-dsl==7.3
django-elasticsearch-dsl-drf==0.22.5
django-environ==0.11.2
django-filter==23.5
django-jsonfield==1.4.1
django-nine==0.2.7
django-perms==2.1.0
django-sslserver==0.22
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
elastic-transport==8.13.1
elasticsearch==7.17.9
elasticsearch-dsl==7.4.0
fastjsonschema==2.18.1
filelock==3.12.2
gunicorn==22.0.0
h11==0.14.0
httpie==3.2.2
idna==3.4
importlib-metadata==6.8.0
installer==0.7.0
jaraco.classes==3.3.0
jeepney==0.8.0
keyring==24.2.0
Markdown==3.6
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.1.0
msgpack==1.0.7
multidict==6.0.5
packaging==23.2
parts==2.0.0
pexpect==4.9.0
pillow==10.3.0
pipdeptree==2.23.1
pipenv==2024.0.0
pkginfo==1.10.0
platformdirs==3.11.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
progressbar2==4.4.2
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pycparser==2.21
pycryptodome==3.20.0
Pygments==2.18.0
PyJWT==2.8.0
pyproject_hooks==1.0.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-http-client==3.3.7
python-utils==3.8.2
pytz==2024.1
rapidfuzz==3.5.2
regex==2024.4.28
requests==2.31.0
requests-toolbelt==1.0.0
rest-framework-simplejwt==0.0.2
rich==13.7.1
SecretStorage==3.3.3
sendgrid==6.11.0
shellingham==1.5.3
simplejwt==2.0.1
six==1.16.0
sqlparse==0.3.1
starkbank-ecdsa==2.2.0
tomlkit==0.12.1
trove-classifiers==2023.9.19
typing==3.7.4.3
typing_extensions==4.12.0
tzdata==2024.1
uvicorn==0.30.0


